.header {
    height: 42px;
    line-height: 42px;
    background: #333;
}

.header-wrap {
    width: 1226px;
    margin: 0 auto;
}

.header-wrap a {
    font-size: 12px;
    color: #b0b0b0;
}

.header-left {
    float: left;
}

.header-right {
    float: right;
}

.header-right .header-a {
    float: left;
}

.header-right .shop-car {
    float: left;
}

.spec {
    font-size: 12px;
    color: #b0b0b0;
    font-style: normal;
    margin: 0 3px;
}

.header-a a {
    font-size: 13px;
}

.header-right .shop-car {
    margin-left: 10px;
    padding: 0 10px;
    text-align: center;
    background: #424242;
}

.header-right .shop-car a {
    font-size: 15px;
}

/*顶部结束*/

/*导航栏开始*/
.nav {
    width: 1226px;
    margin: 20px auto 0;
    line-height: 100px;

}
.nav .logo {
    float: left;
}
.logo {
    margin-top: 20px;
    width: 49px;
    height: 49px;
}
.logo a {
    display: block;
    background: #000;
}
.logo a img {
    display: block;
}

.nav-item-wrap {
    margin-left: 218px;
    float: left;
}

.nav-item-wrap li {
    padding: 0 10px;
    float: left;
}

.nav-item-wrap li a {
    color: #333;
    font-size: 15px;
}
.nav-item-wrap li a:hover {
    color: #ff6700;
    text-decoration: none;
}

.search-bar {
    float: right;
}

.search-bar {
    margin-top: 20px;

    width: 300px;
    height: 50px;
    border: 1px solid #f1f1f1;
}
.search-bar .search-input {
    float: left;
    border: none;
    outline: none;
    padding: 0 5px;
    width: 240px;
    height: 50px;
}

.search-btn {
    width: 50px;
    height: 50px;
    font-weight: 700;
    border: none;
    outline: none;
    background: #fff;
    border-left: 1px solid #f1f1f1;
    float: left;
}

/*导航栏结束*/


/*banner开始*/
.banner {
    position: relative;
    width: 1226px;
    height: 460px;
    margin: 0 auto;
}
.banner .side-bar {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    background: rgba(0, 0, 0, .6);
}
.banner ul {
    padding: 20px 0;
}
.banner ul li {
    line-height: 42px;
    width: 234px;
    height: 42px;
}
.banner ul li:hover {
    background: #ff6700;
}
.banner ul li a {
    display: block;
    font-size: 14px;
    padding-left: 30px;
    padding-right: 25px;
    height: 42px;
    line-height: 42px;
    color: #fff;
}
.banner ul li a:hover {
    text-decoration: none;
}
.banner ul li a::after {
    content: '>';
    color: #fff;
    float: right;

}
/*banner结束*/

/*主打产品开始*/
.main-prod {
    width: 1226px;
    margin: 20px auto 0;
}
.main-prod-left {
    float: left;
    padding: 5px;
    width: 225px;
    height: 160px;
    background: #333;
}

.main-prod-left li {
    margin: 0 5px 15px 0;
    float: left;
    width: 70px;
    height: 72px;
    text-align: center;
    border: 1px solid #f1f1f1;
}
.main-prod-left li.last {
    margin-right: 0;
}

.main-prod-left li p {
    margin-top: 10px;
}
.main-prod-left a {
    color: #fff;
    font-size: 12px;
}
.main-prod-left .bdn-left {
    border-left: none;
}
.main-prod-left .bdn-right {
    border-right: none;
}
.main-prod-left .bdn-bottom {
    border-bottom: none;
}
.main-prod-left .bdn-top {
    border-top: none;
}
.main-prod-right {
    float: right;
}
.main-prod-right li {
    float: left;
    margin-right: 15px;
}
.main-prod-right li.last {
    margin-right: 0;
}

.main-prod-right a img {
    width: 316px;
    height: 170px;
}
/*主打产品结束*/

/*明星单品开始*/
.star-single { position: relative; width: 1226px; margin: 20px auto 0; }
.star-single h2 { font-weight: 200; line-height: 58px; height: 58px; font-size: 22px; }

.star-single .btns { position: absolute; top: 25px; right: 0; width: 70px; height: 25px; border: 1px solid #f1f1f1; text-align: center; }

.star-single .btns li { width: 35px; height: 25px; float: left; font-size: 16px; font-weight: 700; color: #b0b0b0; }
.star-single .btns li.last { width: 34px; border-left: 1px solid #f1f1f1; }

.single-item { float: left; margin-right: 14px; width: 234px; height: 340px; padding-top: 39px; border-top: 1px solid #ff6700; text-align: center; background: #fafafa; }
/*.star-single .item-green { border-top: 1px solid #83c44e;
}*/

.star-single .last {
    margin-right: 0;
}

.single-item img {
    width: 160px;
    height: 160px;
}
.single-item h3 {
    margin: 12px 0 15px;
}
.single-item h3 a { font-size: 14px; text-decoration: none; font-weight: 200; color: #000;
}
.single-item p { margin: 10px 0; font-size: 12px; color: #b0b0b0; }

.single-item .price { font-size: 14px; color: #ff6700; margin: 0;
}
/*明星单品结束*/

/*服务中心*/
.service {
    width: 1226px;
    margin: 0 auto;
}
.main-service {
    padding: 30px 0;
    border-bottom: 1px solid #e0e0e0;
}
.main-service li {
    float: left;
    width: 244px;
    text-align: center;
    font-size: 16px;
    color: #b0b0b0;
    border-right: 1px solid #f1f1f1;

}
.main-service li a {
    font-size: 16px;
    color: #616161;
    text-decoration: none;
}
.main-service li a:hover {
    color: #ff6700;
}
.main-service li.last {
    border-right: none;
}
.service-links {
    padding: 40px 0;

}
.service-links dl {
    float: left;
    width: 160px;
    height: 112px;
}
.service-links dl dt {
    margin-bottom: 15px;
    font-size: 15px;
}
.service-links dl dd {
    margin-top: 10px;
}
.service-links dl a {
    font-size: 12px;
    text-decoration: none;
    color: #757575;
}

.phone {
    float: right;
    text-align: center;
    width: 250px;
    border-left: 1px solid #f1f1f1;
}
.phone .phone-number {
    font-size: 22px;
    color: #ff6700;
    font-weight: 700;
}

.phone-desc {
    font-size: 12px;
    margin-top: 5px;
}

.phone .link-item {
    display: inline-block;
    padding: 5px 8px;
    margin-top: 16px;
    font-size: 12px;
    text-decoration: none;
    color: #ff6700;
    border: 1px solid #ff6700;
}

.footer{
  background-color: #FAFAFA;
}

.footer .info-top{
  width: 1226px;
  margin: 0 auto;
}

.footer .info-top .info-top-left{
  float: left;
  width: 680px;
}

.footer .info-top .info-top-right{
  float: right;
  margin-top: 3px;
}

.footer .info-top .info-top-right img{
  width: 85px;
  height: 28px;
}

.footer .info-top .info-top-right img.last{
  margin-right: 0;
}

.footer .info-top .info-img{
  float: left;
  width: 57px;
  height: 57px;
  margin-right: 8px;
}

.footer .info-top .info-img img{
  width: 57px;
  height: 57px;
}

.footer .info-top .info-words{
  font-size: 12px;
  color: #B0C0D7;
  float: left;
}

.footer .info-top .info-words li{
  float: left;
}

.footer .info-top .info-words li i{
  font-style: normal;
  margin-right: 4px;
}

.footer .info-top .info-words div{
  line-height: 19px;
}

.footer .info-top .info-words div:first-child{
  color: #424242;
}

.footer .info-top .info-words a{
  color: #B0C0D7;
}

.footer .info-bottom{
  width: 1226px;
  height: 100px;
  line-height: 100px;
  margin:0 auto;
  color:black;
  font-size: 16px;
  text-align: center;
  opacity: 0.3;
}


























